.section {
    padding-top: 100px;
    min-height: 600px!important;
    background-color: #eeeeee;
}
.btnGreen {
    background-color: #7CD1F9!important;
    border-color: #BBD5E4!important;
    color: #000000!important;
    font-weight: bold;
    margin-left: 20px;
    cursor: pointer;
    text-transform: uppercase;
}
.machineName {
    color: #000000;
    font-weight: bold;
}
.available {
    color: #7CD1F9;
    font-size: 3rem;
    border-radius: 100%;
    background-color: black;
}
.btnGreen:hover {
    background-color: #9BDCFA!important;
    opacity: 0.6;
}
.number {
    font-size: 2rem;
    background-color: #7CD1F9;
    color: #000000;
    border: 1px solid #000000;
}
.modalCycle {
    background-color: #7CD1F9;
}
.reminder p {
    font-weight: bold;
}