.section {
    padding-top: 100px;
    min-height: 600px!important;
}
.btnGreen {
    background-color: #f8b663!important;
    border-color: transparent!important;
    color: #fff!important;
    font-weight: bold;
    margin-left: 20px;
    cursor: pointer;
    text-transform: uppercase;
}
.btnGreen:hover {
    background-color: #f7b057!important;
    opacity: 0.6;
}
.number {
    font-size: 2rem;
}
.available {
    font-size: 2rem;
}