.section {
    padding-top: 60px;
}
/* .main {
    background: url(../../../img/home/w.jpg) no-repeat center;
    background-size: cover;
} */
.main {
    background: 
    linear-gradient(
      rgba(155, 220, 250, 0.45), 
      rgba(124, 209, 249, 0.65)
    ),
    url(../../../img/home/w.jpg);
    background-size: cover;
}
.i {
    /* color: #7CD1F9!important; */
    color: black;
}
.whoText {
    color: #7CD1F9;
}
.bannerInfo {
    padding-top: 15em;
    color: #000000;
}
.bannerInfo p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1.9;
}
.bannerInfo h3 {
    font-weight: 700 !important;
    text-transform: uppercase !important;
    font-size: 3.5em;
    text-shadow: 3px 4px 6px rgba(45, 45, 45, 0.15);
    font-weight: 600;
    position: relative;
}
.bannerInfo h3:after {
    content: "";
        background: #000000;
        width: 80px;
        height: 3px;
        position: absolute;
        bottom: -20px;
        left: 46%;
}
.middleInfo {
    background: url(../../../img/home/w2.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}
.newCust {
    display: block;
    font-size: 17px;
    color: #7CD1F9;
    font-weight: 400;
}
.buttonStyle {
    padding: 11px 30px;
    border: none;
    color: #ffffff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    border: 2px solid #BBD5E4;
    background: #7CD1F9;
    display: inline-block;
}
.buttonStyle2 {
    border: 2px solid #fff;
    background: transparent;
}
.buttonStyle:hover {
    color: #fff;
    text-decoration: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
}

.ourService {
    display: block;
    font-size: 17px;
    color: #7CD1F9;
    font-weight: 400;
    letter-spacing: 1px;
}

@media (max-width: 1440px) {
    .main {
        min-height: 700px;
    }
    .bannerInfo {
        padding-top: 12em;
    }
}