.section {
    margin-top: 80px;
    text-align: center;
}
.inputForm{
    font-size: 14pt;
    outline: none;
    border-radius: 4px;
    border: 1px solid lightgray;
    height: 2.25em;
    margin: 10px 0 10px 0;
    padding: 10px;
}
.buttLogin {
    background-color: #f8b663!important;
    border-color: transparent!important;
    color: #fff!important;
    font-weight: bold;
}
.buttLogin:hover {
    background-color: #f7b057!important;
}
.forgotP {
    font-size: 0.8rem;
    padding-top: 1rem;
    color: #0b383b;
    cursor: pointer;
    text-decoration: none;
}
.forgotP:hover {
    color: #363636;
     text-decoration: none;
}
.coin {
    width: 120px;
    height: 120px;
    animation: spin 15s linear infinite;
}
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }