.navBarI {
    background-color: white;
}
.btnGreen {
    background-color: #f8b663!important;
    border-color: transparent!important;
    color: #fff!important;
    font-weight: bold;
    margin-left: 20px;
}
.btnGreen:hover {
    background-color: #f7b057!important;
}
.wash {
    vertical-align: text-top;
}
.dropBtn {
    background-color: #f8b663;
    border: none;
    color: #ffffff;
    outline: none;
    padding: 5px 10px 5px 10px;
    border-radius: 4px;
    margin-left: 20px;
    font-weight: bold;
}
.dropBtn:hover {
    background-color: #f7b057;
    color: #ffffff;
}
.dropBtn:focus {
    outline: none;
}
.wallet {
    background-color: #f8b663;
    color: #ffffff;
    padding: 10px;
    border-radius: 100px;
    font-weight: bold;
    text-decoration: none;
}
.wallet:hover {
    background-color: #f7b057;
    color: #eeeeee;
    text-decoration: none;
}