.section {
    margin-top: 80px;
    background-color: #eeeeee;
}
.section2 {
    background-color: #ffffff;
}
.available {
    width: 100%;
}
.noavailable {
    width: 70%;
}
.machinChoice:hover {
    opacity: 0.5;
}