.section {
   padding-top: 80px;
    background-color: #eeeeee;
}
.headerPage span {
     text-align: left;
}
.available {
    color: #7CD1F9;
    font-size: 3rem;
    background-color: black;
    border-radius: 100%;
}
.noavailable {
    width: 70%;
    opacity: 0.3;
}
.machineName {
    color: black;
    font-weight: bold;
}
.machinChoice:hover {
    opacity: 0.5;
}
.btnIwash {
    margin: 10px;
    background-color: #f8b663;
    color: #000000;
    padding: 10px;
    border-radius: 100px;
    font-weight: bold;
    text-decoration: none;
}
.btnIwash:hover {
    background-color: #f7b057;
    text-decoration: none;
}
.number {
    font-size: 2rem;
    background-color: #7CD1F9;
    color: black;
    border: 1px solid black;
}
.links {
    text-decoration: none;
    color: #f8b663;
}
.links:hover {
    text-decoration: none!important;
    color: #0b383b;
}
