.section {
    padding-top: 80px;
    background-color: #eeeeee;
}

.alertBlue {
    background-color: rgb(158, 220, 249);
    border: 1px solid #7CD1F9;
    color: black;
}
.cycle {
    font-size: 2rem;
}
.time {
    font-size: 2rem;
}
.number {
    font-size: 2rem;
}