.section {
    padding-top: 80px;
    background-color: #eeeeee;
}
.gotopres {
    cursor: pointer;
}
.list {
    color: black;
    font-weight: bold;
}
.list a:hover, .list div:hover {
    background-color: #7CD1F9;
}