.section {
    padding-top: 60px;
    background-color: #eeeeee;
    min-height: 600px!important;
}
.firstPage {
    background-color: white;
}
.i {
    color: #7CD1F9!important;
}
.headerPage1 {
    background-color: black;
    color: white;
    height: 60%;
}
.icon4geeks {
    text-align: right!important;
    padding: 20px;
}
.header {
    background-color: black;
    color: white;
    height: 40%;
}
.firstPage h1 {
    text-align: center;
}
.secondPage {
    text-align: center;
}
.thirdPage {
    text-align: center;
}
.forthPage {
        text-align: center;
}