.section {
    padding-top: 80px;
    padding-bottom: 20px;
    background-color: #eeeeee;
    min-height: 600px!important;
}
.white {
    background-color: white;
    border-radius: 4px;
    padding-bottom: 10px;
}
.btnOrange {
    background-color: #f8b663!important;
    border-color: transparent!important;
    color: #000000!important;
    font-weight: bold;
}
.btnOrange:hover {
    background-color: #f7b057!important;
}
